.test {
  border: 1px solid gray;

}

.canvas {
  box-shadow: inset 0px 0px 20px 20px #fff;
  left: 50%;
  transform: translate(-50%, -0);
}

.line {
  position: absolute;
  background-image: linear-gradient(to right, rgba(0,0,0,0), gray, rgba(0,0,0,0));
  height: 2px;

  /* -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; */

  /* opacity: 0;
  animation: disappear 2s linear 2s infinite alternate; */
}

@keyframes disappear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.ball{
  /* background: orange; */
  position: inherit;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* mix-blend-mode: screen; */

  /* -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; */

  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;  
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); 
  } 
}